.night {
    position: fixed;
    width: 100%;
    height: 100%;
    transform: rotateZ(40deg);
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: -1;
    overflow: hidden;
    contain: strict;
}

.star {
    position: absolute;
    height: 2px;
    width: 2px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    top: calc(var(--top) - 50px);
    left: calc(var(--left) - 150px);
    animation: falling var(--duration) linear infinite;
    animation-delay: var(--delay);
    will-change: transform;
    transform: translate3d(0, 0, 0);
    contain: layout style;
}

.star::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4));
    border-radius: 50%;
    transform: translateX(50%);
    animation: tail var(--duration) linear infinite;
    animation-delay: var(--delay);
    will-change: width, opacity;
    contain: strict;
}

.star::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    height: 2px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0));
    border-radius: 100%;
    transform: translateX(50%) rotateZ(45deg);
    animation: shining 3s ease-in-out infinite;
}

.star::after {
    transform: translateX(50%) rotateZ(-45deg);
}

@keyframes tail {

    0%,
    100% {
        width: 0;
        opacity: 0;
    }

    30% {
        width: 30px;
        opacity: 0.8;
    }
}

@keyframes falling {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(150px, 100px, 0);
    }
}

@keyframes shining {
    0% {
        width: 0;
    }

    50% {
        width: 20px;
    }

    100% {
        width: 0;
    }
}